# Banco de dados
DATABASE_URL=postgresql+asyncpg://prontuario_user:senha@localhost:5432/prontuario_db

# Redis
REDIS_URL=redis://localhost:6379

# App
APP_ENV=development
APP_VERSION=0.1.0

# MLflow
MLFLOW_TRACKING_URI=file:./mlruns

# Postgres (usado pelo docker-compose)
POSTGRES_PASSWORD=senha
